<div>
  <ng-container *ngFor="let position of listOfPosition">
    <app-button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" [nzPlacement]="position">{{ position } }
      (nzbuttonConfig)="moreBtnConfig" []> </app-button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="addAboveClick()"> Add todo above</li>
        <li nz-menu-item (click)="addBelowClick()"> Add todo below</li>
        <li nz-menu-item (click)="editNameClick()">Edit name of todo</li>
        <li nz-menu-item (click)="editDeadlineClick()">Edit deadline of todo</li>
        <li nz-menu-item (click)="deleteClick()">Delete todo</li>
      </ul>
    </nz-dropdown-menu>
  </ng-container>
</div>