
  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a todolist" style="width: 200px;" [(ngModel)]="selectedValue" (ngModelChange)="onSelectClickEventReceived($event)">
    <li *ngFor="let todoList of todoLists">
    <nz-option 
    [nzLabel]="todoList.title" 
    [nzValue]="todoList"
    ></nz-option>
  </li>
  </nz-select >

  <div class="btns-container" *ngIf="selectedValue">
    <app-add-todo-modal [listId]="selectedValue.todoListId"
    (Submit)="onAddTodoEventReceived($event)" [ButtonText]="modalText" [addBtnConfig]="addBtnConfig">
    </app-add-todo-modal>
   <br/>
   </div>

  <div class="todos">
    <app-todo *ngFor="let todo of todos" [todo]="todo" (checkboxClick)="onCheckboxClick($event, todo)" (Delete)="onDeleteTodoEventReceived($event)"></app-todo>
  </div>

 
  
 

