<section>
  <div class="btns-container">
    <app-button [buttonConfig]="textBtnConfig" (onTextBtnClick)="onClickEventReceived()">
    </app-button>
  </div>
</section>

<div nz-row>
  <h3 nz-col nzFlex="4">TITLE</h3>
  <h3 nz-col nzFlex="2">DEADLINE</h3>
  <h3 nz-col nzFlex="1">LIST-ID</h3>
  <h3 nz-col nzFlex="1">SUBTASKS</h3>
  <h3 nz-col nzFlex="1">CHECKED</h3>
</div>

<div class="todos">
  <app-todo *ngFor="let todo of (todos$ | async) | sort:'position'" [todo]="todo"
    (checkboxClick)="onCheckboxClick($event, todo)">
  </app-todo>
</div>