<div nz-row (dblclick)="onDoubleClick()">
    <div nz-col nzFlex="3">
        {{todo?.title | toUppercase}}
    </div>
    <div nz-col nzFlex="3">
        {{todo?.deadline | date:'dd-MM-yyyy'}}
    </div>
    <div nz-col nzFlex="3">
        {{todo?.todoListId}}
    </div>
    <div nz-col nzFlex="3">
        <label nz-checkbox (ngModelChange)="checkboxClick.emit($event)" [ngModel]="todo?.checked"></label>
    </div>
</div>

<div *ngIf="showSubtasks">
    <app-subtask *ngFor="let subtask of todo?.subtasks" (checkboxClick)="onCheckboxClick($event, subtask)"
        [subtask]="subtask"></app-subtask>
</div>